:root {
    --primary-color: rgb(32, 101, 192);
    --primary-color-lighter: rgb(41, 123, 230); /* mainly used with :hover */
    --primary-color-darker: rgb(26, 86, 163); /* mainly used with :active */

    /* background color for the whole site*/
    --background-color-general: rgb(40, 45, 71); 
    --background-color-footer: rgb(38, 38, 38);

    --table-background-odd: rgb(84, 93, 134);
    --table-background-even: rgb(57, 66, 99); 

    --hypertext-color: rgb(183, 238, 255);
    --hypertext-color-hover: rgb(50, 207, 255);

    /* used for text */
    --primary-text-color: rgb(255, 255, 255); 
    --secondary-text-color: rgb(255, 255, 255);
    --tertiary-text-color: rgb(196, 220, 255);

    --title-font-size: 32px;
    --p-font-size: 16px;

    --size-user-picture: 60px;
}
/******************** general ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    color: var(--secondary-text-color);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    background-color: var(--background-color-general);
}

#mainPage {
    min-height: calc(100vh - 75px );
}

#forum table { /* applies to all of my table */
    width: 100%;
}

footer a, header a {
    color: white;
    text-decoration: none;
}

#forum a {
    color: var(--hypertext-color);
    text-decoration: none;
}

#forum a:hover {
    color: var(--hypertext-color-hover);
}

.timeInterval { /* applies to some date interval */
    color: var(--tertiary-text-color);
}

h1 { /* applies to all of my h1 title  */
    padding: 25px 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: var(--title-font-size);
}

thead { /* color of every table's head */
    color: var(--primary-text-color);
    width: 100%;
}

.error { /* applies to all of the errors tied to getFlash */
    color: red;
}


a:has(> i) { /* :has(), css selector: target every <a> elements that has <i> has a child !!not native to firefox */
    text-decoration: none;
}

.blocListTopics tr td a:has(> figure) { /* when the cell of the table in listTopics has a figure as a child */
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong {
    display: block;
    padding-top: 15px;
    font-size: 24px;
    text-align: left;
    color: rgb(0, 0, 0);
}

small {
    font-size: 16px;
    margin: 0 15px;
}

/******************** header ********************/
header {
    width: 100%;
    /* height: 100%; */
    padding: 0 10%; /* i repeat this in header/main/footer because it messes with the background-color otherwise */
    background-color: var(--primary-color); 
}    

/********** nav **********/
nav {
    height: 70px;
    display: flex;
    flex-direction: row;
}

#nav-left {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-right {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/********** sub-nav **********/
#sub-nav {
    width: 100%;
    height: fit-content;

    color: var(--primary-text-color);
    background-color: var(--primary-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

#sub-nav a {
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

#sub-nav a:hover {
    background-color: var(--primary-color-lighter);
    transition: 0.3s;
}

#sub-nav a:active {
    background-color: var(--primary-color-darker);
    transition: 0.3s;
}

/******************** main ********************/
main {
    margin: 0 10%; /* i repeat this in header/main/footer because it messes with the background-color otherwise */
}

/******************** homePageContent ********************/
#homePageContent {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/******************** menuBurger ********************/
#iconBurger {
    display: none;
    color: var(--primary-text-color);
    font-size: 20px;
}

#blocBurger { /* div that group the icon and menu burger*/
    position: relative;
}

.menuBurger { /* div menu burger */
    width: 335px;
    height: 200px;
    padding: 15px 20px;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: white;
    display: none;
    box-shadow: -2px 2px 8px gray;
}

.menuBurgerItem { /* the text inside the dropdown menu */
    color: black;
}

/********** leftPart **********/
#homePage-left {
    padding-right: 15px ;
    flex: 3;
}

#popularTopics {
    width: 100%;
    height: auto;

    border: none;
    padding-bottom: 25px ;
}

#popularTags table {
    width: 100%;
}

/********** rightPart **********/
#homePage-right {
    flex: 1;
}

#statistics {
    padding-bottom: 25px;
    width: 100%;
}

#recentTopics {
    width: 100%;
}

/******************** form ********************/
#form-container {
    padding: 25px 0;
}

#form-header {
    background-color: var(--primary-color);
    padding: 0 25px;
}

#form-header h1 {
   color: var(--primary-text-color);
   font-size: calc(var(--title-font-size) - 5px);
   padding: 14px 0;
}

#form-content {
    padding: 15px 0;
    background-color: var(--table-background-odd);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#form-content input:focus-visible { /* nativ outline */
    outline-style:none;
}

#role:focus-visible {
    outline-style: none;
}
/********** input **********/
#form-content input {
    width: 250px;
    padding: 8px 10px;

    color: var(--secondary-text-color);
    background-color: var(--table-background-even);
    border: none;
    font-size: 18px;
}

#form-content .form-username {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#form-content .form-username, #form-content #text {
    margin-bottom: 20px ;
}


#form-content .form-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#form-content .form-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-bottom: 20px ;
}

form #password {
    padding: 8px 30px 8px 10px;
}

#eyeCon {
    cursor: pointer;
}

/* this make it so that the eye stay fixed when it is toggled from eye to eye-slash */
#form-content .fa-eye-slash { 
    right: 6px;
}

textarea {
    min-height: 80px;
    padding: 15px;

    border: 0;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--table-background-even) ;
    font-size: 16px;
    resize: none;
    outline: none;
}

.form-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.form-password i {
    position: absolute;
    bottom: 10px;
    right: 7px;
}

#form-content button {
    width: 130px;
    height: 45px;
    margin: 10px 0;

    font-size: 18px;
    color: var(--primary-text-color);

    background-color: var(--primary-color);
    border: none ;
    border-radius: 5px;
}

#form-content-profile button {
    width: 80px;
    height: 30px;

    margin-top: 15px;

    font-size: 15px;
    color: var(--primary-text-color);

    background-color: var(--primary-color);
    border: none ;
    border-radius: 5px;
}

#form-content-profile input {
    margin-top: 10px;
}

.passForgot {
    margin-top: 10px ;
}

#form-search {
    display: none;
    flex-direction: row;
}

#tag {
    width: 250px;
    padding: 8px 10px;
    background-color: var(--table-background-even);
    border: none;
    font-size: 18px;
}

#tag:focus-visible {
    outline: none;
}

#form-search input  {
    width: 250px;
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
}

#form-search input:focus-visible { /* nativ outline */
    outline-style:none;
}

#form-search button  {
    width: 70px;
    height: 35px;
    font-size: 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form button {
    cursor: pointer;
}

/******************** User profile ********************/
#form-content-profile {
    margin: 25px 0;
    padding: 15px 0;
    background-color: var(--table-background-odd);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#profile-header {
    height: 280px;

    margin-bottom: 25px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--primary-color);
}

#profile-header p  {
    color: var(--primary-text-color);
    font-size: 20px;
}

#profile-header figure {
    width: calc(var(--size-user-picture) + 180px);
    height: calc(var(--size-user-picture) + 180px);
    margin-bottom: 0;
}

.profile-pic {
    padding: 0 25px ;
    flex: 1;
}

.profile-info {
    flex: 2;
}

#profile-header .username, #profile-header .email {
    width: 200px;

    padding: 10px 10px;
    margin-bottom: 10px;

    font-size: 22px;
    color: var(--primary-color);
    background-color: var(--background-color-general);
}

#profile-header form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-header form label {
    color: var(--primary-text-color);
    font-size: 20px;
    padding-right: 10px ;
}

#profile-header form select {
    width: 200px ; 
    height: 37px;
    
    padding: 3px 5px;
    margin-bottom: 10px;
    
    font-size: 15px;
    color: var(--primary-color);
    background-color: var(--table-background-even);
    border: none;
}

#profile-header form button {
    width: 70px;
    height: 30px;

    color: var(--primary-color);
    background-color: var(--table-background-even);

    border-radius: 5px;
    border: none;
}

/******************** picture ********************/
[class*='picture'] {
    width: var(--size-user-picture);
    height: var(--size-user-picture);
    margin-bottom: 5px;
}

/********** pictureUser **********/
.pictureUser { /* user pic is round */
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    transform: scale(1);
}

.pictureUser img {
    width: 100%;
    height: 100%;
    object-fit:cover;

    background-color: var(--table-background-odd);
    border-radius: 50%;
}

/********** pictureAdmin **********/
.pictureAdmin { /* admin pic is a square */
    border: 5px solid var(--primary-color);
    border-radius: 0%;
}

.pictureAdmin img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/******************** showMessages ********************/
#detailsTopicHeader {
    margin: 10px 0;
    padding: 10px 25px;

    background-color: var(--primary-color);

    display: flex;
    flex-direction: row;
    position: relative;
}

#detailsTopicAuthor {
    align-self: center;
    padding-right: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}

#detailsTopicContent {
    margin-right: 20px;
    flex: 5;
}

#detailsTopicContent h1 {
    font-size: 32px;
    padding: 15px 0;
}

#detailsTopicContent, #detailsTopicContent h1, #detailsTopicAuthor, #detailsTopicAuthor p {
    color: var(--primary-text-color);
}

/***** icons *****/
.icons {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 0;
    right: 20px;
}

.fa-pen-to-square,
.fa-trash-can,
.fa-lock,
.fa-lock-open,
.fa-circle-half-stroke { /* every white icons */
    color: var(--primary-text-color);
    font-size: 17px;
}

.fa-circle-half-stroke {
    cursor: pointer;
}

.blocMsgsFromTopic i {
    color: var(--tertiary-text-color);
}

.blocListUser tr td a i { /* trash can icon in users */
    color: var(--tertiary-text-color);
}

/******************** addMessage ********************/
#form-add-message {
    padding: 5px;
    margin-bottom: 10px ;

    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;

    position: relative;
}

#form-add-message label {
    color: var(--primary-text-color);
}

#form-add-message textarea {
    height: fit-content;
    padding-right:50px ;
}

#form-add-message button {
    border: none;
    position: absolute;
    top: 40px;
    right: 30px;
}

#form-add-message button i {
    font-size: 20px;

    color: var(--primary-color);
    background-color: var(--table-background-even);
}

.replaceFormMessage {
    color: var(--primary-text-color);
    background-color: var(--primary-color);

    padding: 10px;
    margin-bottom: 10px;
}

/******************** table ********************/
table {
    border-collapse: collapse;
    margin-bottom: 15px ;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

thead {
    background-color: var(--primary-color);  
}

th {
    text-transform:uppercase; 
    font-weight:bold; 
    padding: 10px; 
    text-align:left;
}

td {
    padding: 12px; 
    text-align:left;
}

tr td p { /* align for [deleted] */
    text-align: center;
}

.author { /* <tr> */
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--table-background-even);
}

tbody tr:nth-child(odd) {
    background-color: var(--table-background-odd);
}

.show-phone { /* will only appear when the mediaQuery is used */
    display: none;
}

/********** authorPicture **********/
.authorTopic a { /* target the <td> that contains the username and picture */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.authorTopic figure {
    width: calc(var(--size-user-picture) - 15px );
    height: calc(var(--size-user-picture) - 15px );
}

/******************** footer ********************/
footer {
    padding: 0 10%; /* i repeat this in header/main/footer because it messes with the background-color otherwise */
    height: 75px;

    background-color: var(--background-color-footer);
    color: var(--primary-text-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/******************** footer ********************/
#errorPage p {
    font-size: 35px;
    padding: 15px 0;
}

#errorPage p:first-child {
   color: var(--primary-color);
   text-transform: uppercase;
   font-weight: 500;
}

/******************************************************************************************************/
/********************************************* Responsive *********************************************/
/******************************************************************************************************/

/************************* tablet *************************/
@media only screen
and (max-device-width : 1200px) {

/******************** general ********************/
    .authorTopic a {
        text-align: center;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    small {
        text-align: center;
    }

/******************** header ********************/
    header {
        padding: 0 5%;
    }

    #form-search {
        /* display: flex; */
        display: none;
        flex-direction: row;
    }
    
    #form-search input  {
        width: 150px;
        height: 35px;
        padding: 0 5px;
    
        font-size: 16px;
        border: none;
    }

/******************** main ********************/
    main {
        margin: 0 5%;
    }

/******************** homePageContent ********************/
    #homePageContent {
        width: 100%;
        display: initial;
    }

    #homePage-left {
        padding-right: 0;
    }

    #homePage-right {
        display: flex;
        flex-direction: column-reverse;
        padding-right: 0;
    }

    #popularTopics {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    #statistics {
        padding-bottom: 0;
        width: 100%;
    }

/******************** footer ********************/
    footer {
        padding: 0 5%;
    }

}

/************************* phone *************************/
@media only screen
and (max-device-width : 645px) {

/******************** general ********************/
    small {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    #wrapper textarea {
        /* padding-left: 10px;
        padding-right: 10px; */
        width: 100%;
    }

    strong {
        text-align: center;
    }

/******************** header ********************/
    header {
        padding: 0 10px;
    }

    #form-search {
        display: none;
        
    }

    #profileName {
        display: none;
    }

    nav {
        justify-content: flex-end;
    }

    #nav-left {
        width: 40%;
    }

    #nav-right {
        width: 55%;
    }

/******************** main ********************/
    main {
        margin: 0;
    }

/******************** table Popular ********************/
    table, thead, tbody, th { /* remove the table inital display */
        display: block;
    } 
    
    td {
        padding: 12px 8px; 
    }

    thead tr th:not(.tableTitle) {
        display: none
    }

    #popularTopics tbody tr td:nth-child(n + 3) {
        width: 30%;
        text-align: center;
    }

    tbody tr td:nth-child(n + 2) {
        width: 50%;
        display: block;
        text-align: center;
    }
    
    tr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    tr .authorTopic { /* td pic user */
        width: 25%;
    }

    #popularTopics .authorTopic figure {
        width: calc(var(--size-user-picture) - 5px);
        height: calc(var(--size-user-picture) - 5px);
    }

    tr .titleTopic { /* td ttile */
        width: 75%;
        font-size: 19px;
    }

    .nbMessages {

    }
    
    .nbMessages p {
        min-width: fit-content;
        width: 80%;
        border: 2px solid var(--primary-color);
        border-radius: 110px;
        text-align: center;
    }

    .show-phone {
        display: initial;
    }

/******************** table listUser ********************/
    #table-users tbody tr {
        flex-direction: column;
        text-align: center;
    }

    #table-users tbody tr td {
        text-align: center;
    }

/******************** table listTags / detailsTag ********************/
    .blocListTags tr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .blocListTags tr td {
        width: 100%;
        text-align: center;
    }

    .blocListTags tr td:first-child {
        font-size: 20px;
    }

    .blocDetailsTag tr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .blocDetailsTag tr td {
        text-align: center;
    }

    .blocDetailsTag tr td:first-child {
        font-size: 20px;
    }

/******************** table listTopics ********************/
    #listTopics tbody tr {
        display: flex;
    }

    #listTopics tbody tr td:first-child {
        display: block;
        height: 100%;
    }

    #listTopics tbody tr td:not(:first-child) {
        display: inline;
        height: 30%;
    }

/******************** show messages ********************/
    #detailsTopicHeader {
        flex-direction: column;
    }

    .authorTopic a {
        text-align: center;
    }

/******************** homePageContent ********************/
    #homePageContent {
        width: 100%;
        display: initial;
    }

    #homePage-left {
        padding-right: 0;
    }

    #popularTopics {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    #statistics {
        display: none;
        padding-bottom: 0;
    }

    #recentTopics {
        display: none;
    }


/******************** profile ********************/
    #profile-header {
        height: 430px;
        padding: 15px 0;
        margin-bottom: 25px 0;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #profile tbody tr td {
       text-align: center;
       padding: 8px;
    }

    #profile tbody tr td:first-child {
        width: 100%;
    }
    
/******************** footer ********************/
    footer {
        padding: 0;

    }
}



